<template>
  <div id="forgot-password">
    <p class="text-muted">
      Nous vous enverrons un lien pour réinitialiser votre mot de passe.
    </p>
    <form method="POST">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          class="form-control"
          name="email"
          placeholder="Entrer adresse e-mail."
          tabindex="1"
          required
        />
      </div>

      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary btn-lg btn-block"
          tabindex="4"
        >
          Mot de passe oublié
        </button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "ForgotPassword",
};
</script>

<style scoped></style>
