<template>
  <div id="auth-page">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div
            class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4"
          >
            <div class="login-brand">
              <img
                src="@/assets/images/login.png"
                alt="logo"
                width="100"
                class="shadow-light rounded-circle"
              />
            </div>

            <div class="card card-primary">
              <div class="card-header">
                <h4>{{ $route.meta?.pageTitle }}</h4>
              </div>

              <div class="card-body">
                <RouterView />
              </div>
            </div>
            <div class="simple-footer">Copyright &copy; CAREB 2022</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script setup>
import { RouterView } from "vue-router";
</script>
