<script>
import { RouterLink } from "vue-router";
import { Form, Field, ErrorMessage } from "vee-validate";
import { object, string } from "yup";
export default {
  name: "LoginPage",
  components: { Form, Field, ErrorMessage, RouterLink },
  setup() {
    const schema = object({
      username: string().required("Nom d'utilisateur est nécessaire !"),
      password: string().required("Mot de passe est nécessaire!"),
    });
    return {
      loading: false,
      message: "",
      schema,
      successful: false,
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  created() {
    if (this.loggedIn) {
      return "Dashboard";
    }
  },
  methods: {
    handleLogin(user) {
      this.loading = true;
      this.successful = false;
      this.message = "";
      this.$store.dispatch("auth/login", user).then(
        (response) => {
          console.log(response);
        },
        (error) => {
          console.log(error);
        }
      );
    },
  },
};
</script>

<template>
  <div id="login-page">
    <Form @submit="handleLogin" :validation-schema="schema">
      <div class="form-group">
        <label for="username">Email / Username</label>
        <Field
          id="username"
          type="text"
          class="form-control"
          name="username"
          placeholder="Entrer nom d'utilisateur."
          tabindex="1"
        />
        <ErrorMessage name="username" class="invalid-feedback" />
      </div>
      <div class="form-group">
        <div class="d-block">
          <label for="password" class="control-label"
            >Password / Mot de passe</label
          >
          <div class="float-right">
            <router-link to="/mot-de-passe-oublie" class="text-small">
              Mot de passe oublié?
            </router-link>
          </div>
        </div>
        <Field
          id="password"
          type="password"
          class="form-control"
          name="password"
          placeholder="Entrer mot de passe."
          tabindex="2"
        />
        <ErrorMessage name="password" class="invalid-feedback" />
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <Field
            type="checkbox"
            name="remember"
            class="custom-control-input"
            tabindex="3"
            id="remember-me"
          />
          <label class="custom-control-label" for="remember-me"
            >Souviens-toi de moi</label
          >
        </div>
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary btn-lg btn-block"
          tabindex="4"
          :disabled="loading"
        >
          <span
            class="spinner-border spinner-border-sm"
            v-show="loading"
            role="alert"
          />
          ouvrir une session
        </button>
      </div>
    </Form>
  </div>
</template>
