<script>
import EventBus from "./common/EventBus";
export default {
  name: "App",
  methods: {
    logout() {
      this.$store.dispatch("auth/logout");
      this.$router.push("/");
    },
  },
  mounted() {
    console.log(this.schema);
    EventBus.on("logout", () => {
      this.logout();
    });
  },
  beforeDestroy() {
    EventBus.remove("logout");
  },
};
</script>

<template>
  <router-view />
</template>
